{%- macro renderBlogListings(pieces, options) -%}
  {%- if pieces -%}
    <ul class="blog-listings">
      {%- for piece in pieces -%}
        {{ renderBlogListing(piece) }}
      {%- endfor -%}
    </ul>
  {%- else -%}
    <h2>{{ __('There are no blog posts yet.') }}</h2>
  {%- endif -%}
{%- endmacro -%}

{%- macro renderBlogListing(piece) -%}
  <div class="blog-list w-dyn-list">
    <div class="w-dyn-items">
      <div class="w-dyn-item">
        <div class="post-wrapper"><a class="blog-title-link w-inline-block" href="{{ piece._url }}"><h1 class="blog-title">{{ piece.title | e }}</h1></a>
          <div class="post-info-wrapper">
            <div class="post-info">{{ piece.publishedAt | date('MMM DD, YYYY' ) }}</div>
            <div class="post-info">|</div><a class="post-info when-link" href="#">Travel</a></div>
          <p class="post-summary">{{ apos.helpers.areaToPlainText(piece, 'main') | truncate(200) }}</p>
          <a class="button-round w-button" href="{{ piece._url }}">Continue reading →</a>
        </div>
      </div>
    </div>
  </div>
{%- endmacro -%}

{%- macro blogCard(piece) -%}
  <div class="column width-30">
    <div class="demo-blog-card">
      <div class="blog-card-head">
        {{ apos.singleton(piece, 'slideshow', 'apostrophe-images', { limit: 1, aspectRatio: [324, 162], noHeight: true, edit: false, size: 'one-third' }) }}
        <div class="blog-card-title-container">
          <a href="{{ piece._url }}"><h6 class="blog-card-title">{{ piece.title }}</h6></a>
          {% if piece.authorId %}
            <span class="blog-card-author">by {{ piece._author.title }}</span>
          {% endif %}
        </div>
      </div>
      <div class="blog-card-excerpt-container">
        <p class="blog-card-excerpt">{{ apos.helpers.areaToPlainText(piece, 'main', { truncate: 300 }) }}</p>
        <a href="{{ piece._url }}">Read More</a>
      </div>
    </div>
    <span class="sticker sticker--overlap">{{ piece.publishedAt | date('MMM Do, YYYY') }}</span>
  </div>
 -->

  <div class="w-dyn-item">
    <div class="post-wrapper">
      <a class="post-title-link w-inline-block" href="{{ piece._url }}">
        <h1 class="post-title">{{ piece.title }}</h1>
      </a>
      <div class="post-info-wrapper">
        <div class="post-info">{{ piece.publishedAt | date('MMM Do, YYYY') }}</div>
        <div class="post-info">|</div>
        <!-- <a class="post-info when-link" href="/categories/travel">Travel</a> -->
        <span class="post-info when-link">{{ apos.helpers.tagsToTag(piece)}}</span>
      </div>
      <p class="post-summary">{{ apos.helpers.areaToPlainText(piece, 'main', { truncate: 300 }) }}</p>
      <a class="button-round w-button" href="{{ piece._url }}">Continue reading →</a>
    </div>
  </div>

  
{%- endmacro -%}
